.vscode/**
.vscode-test/**
.github/**
node_modules/**
__pycache__/**
**/.DS_Store
.gitignore
generate_themes.py
package-lock.json
PUBLISHING.md
prettier.config.js
themes/color-sea-template.json
vsc-extension-quickstart.md
